repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v5.0.0"
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-docstring-first
      - id: check-yaml
        exclude: ^src/test/bin/srw-config\.yaml$
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: conda run -n aqm-eval-dev ruff format
        language: system
        types: [python]

      - id: ruff-check
        name: ruff check
        entry: conda run -n aqm-eval-dev ruff check
        args: [--fix]
        language: system
        types: [python]

      - id: mypy
        name: mypy
        entry: conda run -n aqm-eval-dev mypy src
        args: [--disallow-untyped-defs, --disallow-incomplete-defs, --check-untyped-defs]
        language: system
        pass_filenames: false
        types: [python]

      - id: pytest
        name: pytest
        entry: conda run -n aqm-eval-dev pytest src/test
        language: system
        stages: [manual]
        pass_filenames: false
        always_run: true

exclude: ^\.venv/
