name: Docker Build and Test

on:
  pull_request:
    branches: [ develop, main ]
#  push:

jobs:
  docker-build-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: false
        tags: aqm-eval:${{ github.sha }}
        cache-from: type=gha
        cache-to: type=gha,mode=min
        load: true

    - name: Run pre-commit linting
      run: |
        docker run --rm \
          -v ${{ github.workspace }}:/workspace \
          -w /workspace \
          aqm-eval:${{ github.sha }} \
          bash -c "git config --global --add safe.directory /workspace && conda run -n aqm-eval-dev --no-capture-output pre-commit run --all"

    - name: Run pre-commit testing
      run: |
        docker run --rm \
          -v ${{ github.workspace }}:/workspace \
          -w /workspace \
          aqm-eval:${{ github.sha }} \
          bash -c "git config --global --add safe.directory /workspace && conda run -n aqm-eval-dev --no-capture-output pre-commit run --hook-stage manual pytest"
